
  <nav class="w3-sidebar w3-black w3-collapse w3-top w3-large w3-padding"
       style="z-index:3;width:300px;font-weight:bold;"id="mySidebar">
    <div class="w3-container">
      <h3 class="w3">Resumes List</h3>
    </div>
    <div class="w3-bar-block" style="padding-top: 2cm;">
      <a routerLink="/list-resume" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">List Resume</a>
      <a routerLink="/new-resume" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">New Resume</a>
      <a routerlink="/list-resume" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Manage Template</a>
    </div>
  </nav>

