<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <div class="w3-container" id="designers" style="margin-top:75px">

<div class="card ">
  <div class="card-header text-center">
   Resume ID: 123456
  </div>
  <div class="card-body">
    <h5 class="card-title">Resume Details</h5>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
        <h5 class="card-title">Experience/Title Position</h5>
        </div>
        <div class="col-3"></div>
        <h6 class="card-title">Start Date - End date -Company</h6>
        </div>
        <h5 class="card-title" style="margin:1rem">Description : </h5>
        <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestias aliquam itaque tempora nulla aperiam earum totam deleniti, odit natus ea eveniet omnis quidem? Aliquid ut a laborum eius at.</div>
        <h5 class="card-title" style="margin:1rem">Languages</h5>
        <div class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus harum cupiditate architecto sed dolor esse, cumque dicta repudiandae sunt placeat distinctio dolorem, incidunt obcaecati eveniet? Est saepe illum nemo deserunt.</div>

      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
    <a routerLink="/list-resume" class="btn btn-primary" style="margin: 1rem;">back</a>
  </div>
  </div>
  </div>

</div>

    </div>

