<div class="w3-main" style="margin-left:340px;margin-right:40px">

<div class="w3-container" id="designers" style="margin-top:75px">

<div class="row" style="margin: 4rem;">
  <div class="col-sm-6" >
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Resume 1 </h5>
        <p class="card-text">show more details here.</p>
        <a routerLink="/show" class="btn btn-primary">show</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Resume 2</h5>
        <p class="card-text">show more details here.</p>
        <a routerLink="/show" class="btn btn-primary">show</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: 4rem;">
  <div class="col-sm-6" >
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Resume 3</h5>
        <p class="card-text">show more details here.</p>
        <a routerLink="/show" class="btn btn-primary">show</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="card border-success">
      <div class="card-body">
    <div class="card  " style="border: 10px">
       <a routerLink="/new-resume" class="card-link">Add new Resume here</a>
<!--       <button type="button" class="btn btn-outline-success btn-lg" routerLink="/new-resume">Add new Resume here</button>
 -->    </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>

